<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>WeConnect</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    WeConnect
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline ml-auto my-auto text-light">
                        <div class="form-group mr-5">
                            <select class="form-control form-control-sm" id="businessCategory">
                                <option>-Filter By Catergory-</option>
                                <option>Information Technology</option>
                                <option>Banking and Finance</option>
                                <option>Production and Manufaction</option>
                                <option>Entertainment Industry</option>
                                <option>Legal Sector</option>
                                <option>Educational Sector</option>
                                <option>Food and Agriculture</option>
                                <option>Travels and Tourism</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control form-control-sm" id="businessLocation">
                                <option>-Filter By Location-</option>
                                <option>Nigeria</option>
                                <option>United States</option>
                                <option>United Kingdom</option>
                                <option>China</option>
                            </select>
                        </div>
                    </form>      
                </div>  
            </div>
        </nav>

        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 text-center mt-5">
                    <div class="card">
                        <a href="profile.html" data-toggle="tooltip" data-placement="top" title="Click here to View Business Profile">
                            <img class="card-img-top" src="img/card_img_1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">X-Plug Nig. Ltd</h5>
                            <p class="card-text">The website designing and maintenance done by X-Plug Solutions team is excellent and awesome. This team has always been on time and on site, taking more than enough care for my business website</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">2 reviews</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center mt-5">
                    <div class="card">
                        <a href="profile.html">
                            <img class="card-img-top" src="img/card_img_2.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">SISA Travels and Tours</h5>
                            <p class="card-text">SISA has stepped up their game with their lead generation. You have got to check this out yourself to understand. It's quite impressive,we get a minimum of 5-10 leads daily.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">3 reviews</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center mt-5">
                    <div class="card">
                        <a href="profile.html">
                            <img class="card-img-top" src="img/card_img_3.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">FixNG Repair Services</h5>
                            <p class="card-text">I have gotten 4 active customers from Vconnect and will recommend Vconnect to any business person. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">9 review</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center mt-5">
                    <div class="card">
                        <a href="profile.html">
                            <img class="card-img-top" src="img/card_img_3.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">FixNG Repair Services</h5>
                            <p class="card-text">I have gotten 4 active customers from Vconnect and will recommend Vconnect to any business person. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">1 reviews</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center mt-5">
                    <div class="card">
                        <a href="profile.html">
                            <img class="card-img-top" src="img/card_img_1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">X-Plug Nig. Ltd</h5>
                            <p class="card-text">The website designing and maintenance done by X-Plug Solutions team is excellent and awesome. This team has always been on time and on site, taking more than enough care for my business website</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">2 reviews</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center mt-5">
                    <div class="card">
                        <a href="profile.html">
                            <img class="card-img-top" src="img/card_img_2.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">SISA Travels and Tours</h5>
                            <p class="card-text">SISA has stepped up their game with their lead generation. You have got to check this out yourself to understand. It's quite impressive,we get a minimum of 5-10 leads daily.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">4 reviews</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer bg-dark text-light text-center mt-5">
            <div class="container p-2">
                <span>&copy; weconnect.com by Oniovosa Lucky Omokarho</span>
            </div>
        </div>

        <!-- Business Profile Modal -->
        <div class="modal fade" id="businessProfile" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Business Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <a>
                                <img class="card-img-top" src="img/card_img_2.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">SISA Travels and Tours</h5>
                                <p class="card-text">SISA has stepped up their game with their lead generation. You have got to check this out yourself to understand. It's quite impressive,we get a minimum of 5-10 leads daily.</p>
                                <p class="card-text">5, abc road, xyz, Lagos, Nigeria</p>
                                <p class="card-text">080-1234-5678</p>
                                <p class="card-text">info@sisatravelsandtours.com</p>
                                <p class="card-text">www.sisatravelsandtours.com</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted mb-2 lead">Reviews</small><br>
                                <small class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio dolore dolorem sed.</small><br>
                                <small class="text-muted float-right">A.Citrus</small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewsForm">Add Reviews</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>      
            

        <script src="js/jquery-3.2.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>