<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>WEConnect</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="img/logo_WEconnect_bleu.png" height="30" alt="WEConnect Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#signIn" href="#">SignIn <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ml-3">
                        <a class="nav-link" data-toggle="modal" data-target="#signUp" href="#">SignUp</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">WEConnect</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> 
            </div>
        </div>
        
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 text-center mt-5">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="img/card_img_1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">X-Plug Nig. Ltd</h5>
                            <p class="card-text">The website designing and maintenance done by X-Plug Solutions team is excellent and awesome. This team has always been on time and on site, taking more than enough care for my business website</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">www.x-plug.com</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center mt-5">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="img/card_img_2.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">SISA Travels and Tours</h5>
                            <p class="card-text">SISA has stepped up their game with their lead generation. You have got to check this out yourself to understand. It's quite impressive,we get a minimum of 5-10 leads daily.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">www.sisatravelsandtours.com</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center mt-5">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="img/card_img_3.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">FixNG Repair Services</h5>
                            <p class="card-text">I have gotten 4 active customers from Vconnect and will recommend Vconnect to any business person. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">www.fixngrepairservices.com</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center mt-5">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="img/card_img_3.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">FixNG Repair Services</h5>
                            <p class="card-text">I have gotten 4 active customers from Vconnect and will recommend Vconnect to any business person. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">www.fixngrepairservices.com</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center mt-5">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="img/card_img_1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">X-Plug Nig. Ltd</h5>
                            <p class="card-text">The website designing and maintenance done by X-Plug Solutions team is excellent and awesome. This team has always been on time and on site, taking more than enough care for my business website</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">www.x-plug.com</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center mt-5">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="img/card_img_2.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">SISA Travels and Tours</h5>
                            <p class="card-text">SISA has stepped up their game with their lead generation. You have got to check this out yourself to understand. It's quite impressive,we get a minimum of 5-10 leads daily.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">www.sisatravelsandtours.com</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer bg-dark text-light text-center mt-5">
            <div class="container p-2">
                <span>&copy; weconnect.com by Oniovosa Lucky Omokarho</span>
            </div>
        </div>

        
      
        <!-- SignIn Modal -->
        <div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SignIn</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group mb-4">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" >
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ><a class="text-light" href="dashboard.html">Submit</a></button>
                </div>
            </div>
            </div>
        </div>

        <!-- SignUp Modal -->
        <div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sign-Up Form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group mb-3">
                                <label for="name">Name</label>
                                <input type="email" class="form-control" id="name" >
                            </div>
                            <div class="form-group mb-3">
                                <label for="Password1">Password</label>
                                <input type="password" class="form-control" id="Password1">
                            </div>
                            <div class="form-group mb-3">
                                <label for="Re-Password2">Re-Password</label>
                                <input type="password" class="form-control" id="Re-Password2">
                            </div>
                            <div class="form-group mb-3">
                                <label for="email">E-mail</label>
                                <input type="email" class="form-control" id="email" >
                            </div>
                            <div class="form-group mb-3">
                                <label for="re-email">E-mail</label>
                                <input type="email" class="form-control" id="re-email" >
                            </div>
                            <div class="form-group">
                                <label for="phone-number">Phone Number</label>
                                <input type="email" class="form-control" id="phone-number" >
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"><a href="dashboard.html" class="text-light">Submit</a></button>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/jquery-3.2.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>