@font-face{
    font-family: "Allura";
    src: url("font/Allura-Regular.ttf");
}
@font-face{
    font-family: "LobsterTwo";
    src: url("font/LobsterTwo-Regular.ttf");
}

html,
body{
    height: 100%;
     
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -40px;
  }
  .page-wrap:after {
   /*  content: ""; */
    display: block;
    margin-bottom: 40px;
  } 
   
  

.index-body {
    
    background-image: url("../img/12_bg.jpg") !important;
    background-size: cover;
    background-repeat: repeat;
}
 nav{
    height: 50px !important;
}

.navbar-brand{
    font-family: 'Allura' !important;
    font-weight: 500;
    font-size: 2rem;
    color:#fff !important;
    text-shadow: 3px 3px 10px rgb(255, 255, 255);
    
}
.display-4{
    font-family: "LobsterTwo";
    
}


.bg-darkgreen{
    background-color: rgb(13, 80, 92);
}
.navbar{
    padding: 0 !important;
}

.navbar-brand,
.nav-link{
    color: rgb(202, 202, 202) !important;
}

.nav-link:hover{
    
    color: rgb(190, 190, 190) !important;
    border-bottom: 2px solid rgb(190, 190, 190) !important;
    
}

.cover-container{   
    max-width: 45em;    
}

.jumbotron{
    background-image: url("../img/12_bg.jpg") !important;
}


.modal-footer a:hover{
    text-decoration: none;
}

.side-img{
    height: 100px;
    width: 100px;

}

.btn-outline-primary{
    border-width: 2px;
}


.icon {
    border-radius: 50%;    
    margin-bottom: 10px;
}
.footer{
    
    bottom:0;
    left:0;
    width: 100%;
    
   }

   @media (max-width: 575.98px) { 
       .main{
           margin-bottom:200px;
       }
   }

/* .footer{
    bottom: 0;
    height: 40px;
    clear: both;
} */

